// Color Variables

// Base
$colorBlack: #000000;
$colorGray: #737373;
$colorLightGray: #DDDDDD;
$colorGreen: #0B8800; // Green
$colorDarkGreen: #165B33; // Green
$colorRed: #BB2528; // Red
$colorOrange: #FFA600;
$colorPurple: #800080;
$colorTwitterBlue: #08A0E9;
$colorWhite: #FFFFFF; // White

// Halloween
$colorPumpkinOrange: #DF5823;

// Xmas
$colorGrinch: #85B00B;  // Grinch Green
$colorGold: #C1A520;  // Christmas Gold
