:root {
  --z-abs-bottom: 0;

  --z-low-sub: 9;
  --z-low: 10;
  --z-low-sup: 11;

  --z-med-sub: 19;
  --z-med: 20;
  --z-med-sup: 21;

  --z-high-sub: 29;
  --z-high: 30;
  --z-high-sup: 31;

  --z-abs-top: 40;
}
