.global-header {
  width: 98%;
  height: 8vh;
  display: flex;
  padding-top: 0.25vh;
  margin: auto;

  .crypto-symbol {
    height: 3vh;
    width: 3vh;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.header {
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  &.right {
    justify-content: flex-end;
  }

  &.center {
    width: 29%;
    display: inherit;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  @media (max-width: $smallScreen) {
    &.right {
      width: 90%;
    }

    &.center {
      display: none;
    }

    &.left {
      width: 10%;
    }
  }
}

.header-thumbnail {
  height: fit-content;
  width: fit-content;
}

.header-thumbnail-gif {
  z-index: var(--z-abs-bottom);
  height: 8vh;

  @media (max-width: $mediumScreen) {
    display: none;
  }
}

.header-tagline-banner {
  height: fit-content;
  width: fit-content;
}

.header-tagline {
  font-family: var(--accent-font);
  text-align: center;
  color: var(--accent-color-one);
  font-size: 6vh;
  height: 6vh;
  text-shadow:
    -1px -1px 0 var(--text-color),
    1px -1px 0 var(--text-color),
    -1px 1px 0 var(--text-color),
    1px 1px 0 var(--text-color);
}

.header-sub-text {
  text-align: center;
  font-size: 2vh;
  height: 2vh;
}

.dapp-information {
  margin-top: auto;
  margin-bottom: auto;
  align-content: flex-end;
  justify-content: flex-end;
  text-align: flex-end;
  margin-right: 1rem;
  white-space: pre-line;
}

.message-wrapper {
  font-size: 3vh;
  margin: auto;
  display: flex;
  color: var(--text-color);
  // height: 100%;

  .message-text {
    margin: auto;
  }

  .close-button {
    margin: auto;
    background-color: var(--button-color-tertiary);
    border-width: 3px;
    margin-left: 0.5rem;
    height: fit-content;
  }
}

.balance-statement,
.balance-protocol-icon {
  margin-top: auto;
  margin-bottom: auto;
}
