.wallet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 92vh;
  width: 100%;
  align-items: center;
  margin: auto;

  .wallet-inner-container {
    width: 100%;
    position: absolute;
    top: calc(8vh + 4vh + 1rem);
    height: calc(100% - 8vh - 4vh - 8vh - 1rem);

    .fog-wrapper {
      z-index: var(--z-abs-bottom);
    }
  }
}

.wallet-disconnected-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  // margin: auto;

  .wallet-disconnected-message {
    font-size: 4rem;
    font-family: var(--accent-font);
    z-index: var(--z-high);
  }

  .images {
    z-index: var(--z-high);
  }

  .needle-gif,
  .potion-gif {
    height: 10vh;
    width: auto;
  }
}

.degens-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: var(--z-high);

  &::-webkit-scrollbar-track {
    z-index: var(--z-abs-top);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--body-background-color);
  }

  &::-webkit-scrollbar {
    z-index: var(--z-abs-top);
    width: 12px;
    background-color: var(--body-background-color);
  }

  &::-webkit-scrollbar-thumb {
    z-index: var(--z-abs-top);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $colorRed;
  }
}

.degen-wrapper {
  height: fit-content;
  padding: 1rem;
  margin: 1rem auto;
  display: grid;
  grid-template-areas:
    ". name . . ."
    ". image . data ."
    ". background . . .";
  grid-template-columns: [c1] 2rem [c2] 25rem [c3] 2rem [c4] 17rem [c5] 2rem;
  grid-template-rows: [r1] 5rem [r2] 25rem [r3] 5rem;
  border-color: gray;
  border-style: double;
  border-radius: 2rem;
  background-color: rgba($colorBlack, 0.5);

  &.rare{
    border-color: $colorGreen;
  }

  &.meta {
    border-color: $colorPurple;
  }

  &.legendary {
    border-color: $colorGold;
  }

  & button:disabled {
    border-color: rgba($colorGold, 0.25);

    .action-text-wrapper,
    .action-image-wrapper {
      opacity: 0.25;
    }
  }

  @media (max-width: $smallScreen) {
    grid-template-areas:
      ". name ."
      ". image . "
      ". background . "
      ". data . ";
    grid-template-columns: [c1] 2rem [c2] 18rem [c3] 2rem;
    grid-template-rows: [r1] 2rem [r2] 18rem [r3] 2rem [r4] 20rem;
  }
}

.degen-img,
.infected-label {
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  z-index: var(--z-low-sub);
  height: 100%;
  width: auto;
  grid-area: image;

  // @media (max-width: $smallScreen) {
  //   height: 75%;
  //   width: auto;
  // }
}

.infected {
  filter: sepia(95%) hue-rotate(90deg) blur(0.1px) contrast(200%) brightness(200%) saturate(4) brightness(90%);
  transform: scaleX(-1);
}

.infected-label {
  font-family: bubos, sans-serif;
  font-size: 3.5rem;
  z-index: var(--z-low);
  margin-bottom: -0.5rem;
  text-align: center;
  align-self: flex-end;
  text-shadow:
    -1px -1px 3px $colorBlack,
    1px -1px 3px $colorBlack,
    -1px 1px 3px $colorBlack,
    1px 1px 3px $colorRed;
}

.degen-name {
  grid-area: name;
  text-align: center;
  margin: auto;
}

.degen-background {
  grid-area: background;
  text-align: center;
  margin: auto;
}

.data-container {
  grid-area: data;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .degen-nftl-wrapper {
    // margin: auto;
    display: flex;

    .degen-nftl-accumulated {
      margin: auto;
    }

    .token-img {
      height: 4vh;
      width: auto;
    }
  }
}

.antidote,
.infect,
.rename {
  display: flex;
  position: relative;
}

.action-button {
  display: flex;
  width: 100%;
  background-color: var(--body-background-color);
  color: var(--text-color);
  border-style: solid;
  border-radius: 3rem;
  border-color: $colorGold;

  .action-text-wrapper {
    width: calc(100% - 4rem);
  }

  .action-text {
    font-family: var(--accent-font);
    font-size: 2rem;
    width: 70%;
    margin: auto;
  }

  .action-image-wrapper {
    height: 4rem;
    width: auto;
    max-width: 4rem;
    padding: 0.25rem;
    margin: auto 1rem;
    text-align: center;
  }

  .antidote-img,
  .infect-img,
  .rename-img {
    height: 100%;
    width: auto;
    display: flex;
    margin: auto;
  }

  .price-wrapper {
    display: flex;
    justify-content: center;

    .blood-token-img {
      margin-right: 0.5rem;
      height: 2rem;
      width: auto;
    }
  }
}

.loader-container {
  margin: auto;
}

.loader {
  margin: auto;
  border: 16px solid $colorGray;
  border-radius: 50%;
  border-right: 16px dotted $colorRed;
  border-top: 16px solid $colorGold;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-text {
  text-align: center;
}

.lack-of-bubos-message {
  display: flex;
  margin: auto;
  text-align: center;
}
